body {
    font-family: 'Arial', sans-serif;
    background-color: #1a1a1a;
    color: #fff;
    margin: 0;
    padding: 0;
  }
  
  header, footer {
    background-color: #333;
    padding: 16px;
    text-align: center;
  }
  
  nav ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: space-around;
  }
  
  nav ul li {
      display: inline;
      margin-right: 16px;
      transition: transform 0.3s ease;
  }
  
  nav ul li:hover {
      transform: scale(1.1);
  }
  
  nav ul li a {
      color: #fff;
      text-decoration: none;
  }
  
  main {
      padding: 32px;
      display: flex;
      flex-wrap: wrap;
  }
  
  section {
      margin-bottom: 32px;
      flex: 1 1 70%;
      margin-bottom: 32px; 
  }
  
  article {
      margin-bottom: 32px;
  }
  
  aside {
    flex: 0 0 30%; /* Ajusté flex-basis a 30% para que el aside ocupe un 30% del ancho de la página */
    background-color: #444;
    padding: 16px;
    margin-top: 16px;
  }
  
  aside h3 {
      font-family: sans-serif;
      margin-bottom: 16px;
  }
  
  .related-articles {
      margin-top: 32px;
  }
  
  .related-articles h4 {
      font-family: sans-serif;
      margin-bottom: 16px;
  }
  
  .related-articles ul {
      list-style-type: none;
      padding: 0;
  }
  
  .related-articles ul li {
      margin-bottom: 16px;
  }
  
  .related-articles ul li a {
      color: #fff;
      text-decoration: none;
      transition: color 0.3s ease;
  }
  
  .related-articles ul li a:hover {
      color: #ccc;
  }
  
  h1, h2, h3 {
      font-family: sans-serif;
  }
  
  img {
      max-width: 100%;
      height: auto;
  }
  
  #integrantes article {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
  }
  
  .integrante {
      display: inline-block;
      position: relative;
      margin: 10px;
  }
  
  .integrante img {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      transition: transform 0.3s ease;
  }
  
  .integrante .info {
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      background-color: rgba(0, 0, 0, 0.8);
      padding: 15px;
      border-radius: 5px;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.3s ease, visibility 0.3s ease;
      width: 200px;
      text-align: center;
  }
  
  .integrante:hover img {
      transform: scale(1.1);
  }
  
  .integrante:hover .info {
      opacity: 1;
      visibility: visible;
  }
  
  .integrante .info h3, .integrante .info p {
      color: #fff;
      margin: 5px 0;
  }
  
  .integrante .info .more-info {
      display: none;
  }
  
  .integrante .info:hover .more-info {
      display: block;
  }
  
  #escuchar img {
      width: 100px;
      height: auto;
      margin: 0 10px;
      transition: transform 0.3s ease;
  }
  
  #escuchar img:hover {
      transform: scale(1.1);
  }